openapi: 3.0.1
info:
  title: Workflows API
  description: A RESTful service for commonly used workflows.
  version: v1
servers:
  - url: https://api.thetradedesk.com/workflows
    description: The Trade Desk Workflows API
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes: 
    - 5XX
  retryConnectionErrors: true
paths:
  /campaign:
    post:
      tags:
        - Campaign
      summary: Create a new campaign with required fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreationInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/campaign/{id}/version':
    get:
      tags:
        - Campaign
      summary: GET a campaign's version
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignVersionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
  /graphql:
    post:
      tags:
        - GraphQL
      summary: An endpoint that executes valid GraphQL queries.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLQueryInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /seed:
    post:
      tags:
        - Seed
      summary: Create a new seed with required fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeedCreationInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seed'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    Campaign:
      required:
        - advertiserId
        - campaignName
      type: object
      properties:
        id:
          type: integer
          description: This is a campaign ID
          format: int32
        advertiserId:
          minLength: 1
          type: string
          description: The platform ID of the advertiser that owns this Campaign.
        campaignName:
          minLength: 1
          type: string
          description: The name of the Campaign.
      additionalProperties: false
      description: This is a campaign response
    CampaignChannel:
      enum:
        - None
        - Display
        - Audio
        - Video
        - TV
        - NativeVideo
        - NativeDisplay
        - DOOH
      type: string
    CampaignCreateROIGoalInput:
      type: object
      properties:
        maximizeReach:
          type: boolean
          description: Reach as many unique users as possible in your intended audience.
          nullable: true
        maximizeLtvIncrementalReach:
          type: boolean
          description: The goal is to reach as many users as possible beyond those who have already reached on Linear TV.
          nullable: true
        cpcInAdvertiserCurrency:
          type: number
          description: The Cost Per Click goal (in the Advertiser currency).
          format: double
          nullable: true
        ctrInPercent:
          type: number
          description: 'The Click Through Rate goal (in percent), for example, 1 = 1% (1 in 100).'
          format: double
          nullable: true
        nielsenOTPInPercent:
          type: number
          description: 'The Nielsen On Target Percentage goal (in percent), for example, 1 = 1% (1 in 100).'
          format: double
          nullable: true
        cpaInAdvertiserCurrency:
          type: number
          description: The Cost Per Acquisition goal (in the Advertiser currency).
          format: double
          nullable: true
        returnOnAdSpendPercent:
          type: number
          description: The Return on Ad Spend goal (in percent of ad spend).
          format: double
          nullable: true
        vcrInPercent:
          type: number
          description: 'The Video Completion Rate goal (in percent), for example, 1 = 1% (1 in 100).'
          format: double
          nullable: true
        viewabilityInPercent:
          type: number
          description: 'The Viewability goal (in percent), for example, 1 = 1% (1 in 100).'
          format: double
          nullable: true
        vcpmInAdvertiserCurrency:
          type: number
          description: The Estimated Viewable Cost Per Mille (thousand) goal (in the Advertiser currency).
          format: double
          nullable: true
        cpcvInAdvertiserCurrency:
          type: number
          description: Cost Per Completed View goal (in the Advertiser currency).
          format: double
          nullable: true
      additionalProperties: false
    CampaignCreationInput:
      required:
        - advertiserId
        - campaignFlights
        - campaignName
        - primaryChannel
        - primaryGoal
      type: object
      properties:
        advertiserId:
          minLength: 1
          type: string
          description: The platform ID of the advertiser that owns this Campaign.
        campaignName:
          minLength: 1
          type: string
          description: The name of the Campaign.
        primaryChannel:
          $ref: '#/components/schemas/CampaignChannel'
        primaryGoal:
          $ref: '#/components/schemas/CampaignCreateROIGoalInput'
        campaignFlights:
          type: array
          items:
            $ref: '#/components/schemas/CampaignFlightCreationInput'
          description: The List of flights associated with the Campaign.
      additionalProperties: false
      description: Schema with required fields for creating a new campaign
    CampaignFlightCreationInput:
      required:
        - budgetInAdvertiserCurrency
        - startDateInclusiveUTC
      type: object
      properties:
        startDateInclusiveUTC:
          type: string
          description: The date and time (in UTC) when the campaign flight is to start spending.
          format: date-time
        endDateExclusiveUTC:
          type: string
          description: 'The date and time (in UTC) when the campaign flight is to stop spending if it has not yet exhausted its budget. To create or update a campaign flight, you may not set this property value to a date in the past.'
          format: date-time
          nullable: true
        budgetInAdvertiserCurrency:
          type: number
          description: The maximum amount the campaign flight may spend. This must be in the currency of the advertiser that owns the campaign.
          format: double
        budgetInImpressions:
          type: integer
          description: The maximum amount of impressions the campaign flight should buy.
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          description: 'The total amount the campaign flight should spend in a single day, if possible. If you do not want to limit the daily spend, you may set it to null. This must be in the currency of the advertiser that owns the campaign.'
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          description: 'The total amount of impressions the campaign flight should buy in a single day, if possible. If you do not want to limit the daily impressions, you may set it to null.'
          format: int64
          nullable: true
      additionalProperties: false
    CampaignVersionResponse:
      required:
        - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: ID of the campaign.
        version:
          type: string
          description: The campaign version.
          nullable: true
        budgetingVersion:
          type: string
          description: The campaign budget version.
          nullable: true
      additionalProperties: false
    ContentResult:
      type: object
      properties:
        content:
          type: string
          nullable: true
        contentType:
          type: string
          nullable: true
        statusCode:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    ContextualDataInput:
      type: object
      properties:
        keyphrases:
          type: array
          items:
            type: string
          description: Keyphrases
          nullable: true
        urls:
          type: array
          items:
            type: string
          description: Urls
          nullable: true
      additionalProperties: false
    GraphQLQueryInput:
      required:
        - query
      type: object
      properties:
        query:
          minLength: 1
          type: string
          description: The GraphQL query to execute.
        variables:
          description: Variables to substitute into the query.
          nullable: true
      additionalProperties: false
      description: Required fields for executing a GraphQL query
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties: { }
    Seed:
      required:
        - advertiserId
        - id
        - seedName
      type: object
      properties:
        id:
          type: integer
          description: Seed ID
          format: int32
        seedName:
          minLength: 1
          type: string
          description: The name of this seed
        advertiserId:
          minLength: 1
          type: string
          description: The platform ID of the advertiser that owns this Campaign.
      additionalProperties: false
      description: Seed entity
    SeedCreationInput:
      required:
        - advertiserId
        - isDefault
        - seedName
        - targetingData
      type: object
      properties:
        advertiserId:
          minLength: 1
          type: string
          description: The platform ID of the advertiser that owns this Seed.
        seedName:
          minLength: 1
          type: string
          description: The name of the Seed.
        isDefault:
          type: boolean
          description: Whether this is the default seed for this advertiser
        targetingData:
          $ref: '#/components/schemas/SeedTargetingDataInput'
      additionalProperties: false
      description: Required fields for creating a new seed
    SeedTargetingDataInput:
      type: object
      properties:
        firstPartyDataInclusionIds:
          type: array
          items:
            type: integer
            format: int64
          description: These are the AdvertiserTargetingDataIds for first party data.
          nullable: true
        retailDataInclusion:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyDataInput'
          description: RetailDataInclusion
          nullable: true
        thirdPartyDataInclusion:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyDataInput'
          description: ThirdPartyDataInclusion
          nullable: true
        contextualInclusion:
          $ref: '#/components/schemas/ContextualDataInput'
        countryFilterIds:
          type: array
          items:
            type: string
          description: CountryFilterIds
          nullable: true
      additionalProperties: false
    ThirdPartyDataInput:
      required:
        - thirdPartyDataBrandId
      type: object
      properties:
        thirdPartyDataId:
          type: integer
          description: ThirdPartyDataId
          format: int64
          nullable: true
        thirdPartyDataBrandId:
          minLength: 1
          type: string
          description: ThirdPartyDataBrandId
      additionalProperties: false
  securitySchemes:
    TTD-Auth:
      type: apiKey
      description: TTD security token
      name: TTD-Auth
      in: header
security:
  - TTD-Auth: []